{% extends 'base.html.twig' %}

{% set title = 'BetRocket | Réinitialisation' %}

{% block body %}

  <div class="jumbotron jumbotron-bg">
    <h1 class="display-4">Changement de mot de passe</h1>
    <hr class="my-4">

    <form data-bitwarden-watching="1" method="post">

      <div class="form-group">
        <label for="password">Adresse mail</label>
        <input type="password" class="form-control" id="password" aria-describedby="passwordHelp"
               placeholder="Nouveau mot de passe">
        <small id="passwordHelp" class="form-text text-muted">
          Saisissez le nouveau mot de passe ci-dessus
        </small>
      </div>

      <input type="hidden" name="token" value="{{ token }}">

      <button type="submit" class="btn btn-primary">Changer le mot de passe</button>

    </form>

  </div>

{% endblock %}