# config/packages/security.yaml
security:
  encoders:
    # use your user class name here
    App\Entity\User:
        algorithm: Argon2i

  providers:
    users:
      entity:
        class: App\Entity\User
        property: 'email'

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false
    main:
      anonymous: ~
      form_login:
          login_path: login
          check_path: login
      guard:
          authenticators:
              - App\Security\UserAuthenticator

  access_control:
    - { path: ^/login$, roles: IS_AUTHENTICATED_ANONYMOUSLY }