html {
    position: relative;
    min-height: 100%
}

input {
    outline: 0;
    padding: 0 15px 2px;
    font-size: 17px;
    background: #fff;
    border: 2px solid #ebebeb;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 -2px #ebebeb;
    box-shadow: inset 0 -2px #ebebeb;
&:focus {
     border-color: #62c2e4;
     outline: none;
     -webkit-box-shadow: inset 0 -2px #62c2e4;
     box-shadow: inset 0 -2px #62c2e4;
 }
}