.jumbotron-bg{
  margin-top: 50px;
  background-color: #b6d5e1;
}
div.jumbotron.jumbotron-bg div{color: red;}
div.jumbotron.jumbotron-bg h4.success, p.success{color: rgb(39, 99, 60);}
div.jumbotron.jumbotron-bg h4.danger, p.danger{color: rgb(113, 43, 41);}
div.jumbotron.jumbotron-bg label{color: #0e0e0e;}
div.jumbotron.jumbotron-bg ul{padding-left: 0; padding-top: 10px;}
div.jumbotron.jumbotron-bg ul li{color: #ff000f; list-style: none;}
div.jumbotron.jumbotron-bg small{color: #ff0014!important;}
div.jumbotron.jumbotron-bg a.blue-link{color: #0b00f0;}
div.jumbotron.jumbotron-bg a.blue-link:hover{color: #ff0000; text-decoration: none;}