version: 2
jobs:
  build:
    docker:
      - image: debian:stretch

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: composer install

      - run:
          name: Do tests
          command: make tests
