{% extends "base.html.twig" %}

{% block title %}
{% endblock %}

{% block body %}
    <h1>Homepage !</h1>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% if player is defined and player is not empty %}
            <h1>My Bet :</h1>
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Amount</th>
                    <th>Game</th>
                    <th>Potential gain</th>
                </tr>
                </thead>
                <tbody>
                {% for bet in player.bets %}
                    <tr>
                        <td>{{ bet.id }}</td>
                        <td>{{ bet.amount }}</td>
                        <td>{{ bet.game.name }}</td>
                        <td>{% set gain = bet.amount + app.user.amount %}{{ gain }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" style="text-align: center;color: red;">No Bet</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}
