{% extends "base.html.twig" %}

{% block body %}
<span>Liste de joueurs</span>
<table>
    <thead>
        <td>Nom</td>
        <td>Montant</td>
        <td>Gain</td>
        <td>Perte</td>
    </thead>
    <tbody>
     {% for user in users %}
        <tr>
            <td>{{user.username}}</td>
            <td>{{user.amount}}€</td>
            {# <td>{{user.nbv}}</td>
            <td>{{user.nbd}}</td> #}
        </tr>
     {% endfor %}
    </tbody>
</table>

{% endblock %}