{% extends 'base.html.twig' %}

{% set title = 'Validation de votre compte' %}

{% block body %}
  <h3 style="font-size: 30px; color: darkblue;">Bonjour {{ nickname }} !</h3>

  <div>
    <font style="color: #333333;">
      Suite à votre demande, nous vous envoyons un mail afin que vous puissiez réinitialiser votre mot de passe.<br/>
      Veuillez cliquer sur le bouton ci-dessous afin d'être redirigé sur le site et d'y choisir un nouveau mot de passe.<br/>
    </font>
  </div>

  <br/><hr><br/>

  <a href="{{ url }}" style="display: inline-block; background-color:
  darkblue; color: white; padding: 10px 20px; text-decoration: none;">Réinitialiser mon mot de passe</a>.<br/><br/>

  <div>
    <font style="color: #333333;">
      Merci et bon jeu !<br/><br/>
      <span style="color: orangered; font-weight: bold;">~ BetRocket Team ~</span>
    </font>
  </div>

{% endblock %}